.menu {
  flex-direction: column;
  align-content: space-between;
  margin-bottom: 2px;
  padding: 2px;
}

div.menu button {
  width: 5rem;
  height: 1.5rem;
  border-radius: .5rem;
  border: none;
}

div.itens-menu {
  display: flex;
  flex-direction: column;
  position: relative;
}

div.itens-menu ul{
  padding: 0;
  text-decoration: none; 
  display: none; 
}

div.itens-menu li {   
  list-style: none;  
  padding: 0;
}
.menu:hover .itens-menu ul{
  display: flex;
  flex-direction: column;
  align-content: center;
  height: auto; 
  width: auto;
   
}